.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .subheader {
    font-weight: 300;
  }

  .no-pokemon-message {
    background-color: #FFDB73;
    border-radius: 0.5rem;
  }
}