.info {
  // border: 2px dashed blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // border: 2px dashed blue;
  padding: 1rem;
  background-color: #FFDB73;

  width: 300px;
  margin: 0 1rem 1rem 1rem;
  border-radius: 0.7rem;

  .front-and-back-views {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      // add width and height here - use % values so its responsive
      display: flex;
      box-shadow: 0.1rem 0.1rem 0.4rem 0 #949494;
      background-color: white;
      border-radius: 0.5rem;
    }
  }

  .name-and-type-and-button {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 2px solid red;
  }

  .name-and-type {
    // border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .fixedWidthDiv {
    display: flex;
    justify-content: center;
    width: 4rem;
  }

  td {
    // border: 2px solid red;
    padding: 1rem;
    background-color: #153D74;
    border-radius: 0.25rem;
    color: white;
  }
}

.back-to-roster-button {
  // border: 2px solid red;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 0.7rem;
  background-color: #FFDB73;
  color: #153D74;
  cursor: pointer;
}